<div class="container">
	<h1 class="well">Registration Form</h1>
	<div class="col-lg-12 well">
		<div class="row">
			<form style="width:80%">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Fullname</label>
					<div class="col-sm-8">
						<input type="text" placeholder="Enter Full Name Here.." class="form-control">
					</div>
				</div>
				<div class="form-group row">
						<label class="col-sm-4 col-form-label">Nickname</label>
						<div class="col-sm-8">
							<input type="text" placeholder="Enter Full Name Here.." class="form-control">
						</div>
					</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Email Address</label>
					<div class="col-sm-8">
						<input type="text" placeholder="Enter Email Address Here.." class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Company</label>
					<div class="col-sm-8">
						<input type="text" placeholder="Enter Company Name Here.." class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Address</label>
					<div class="col-sm-8">
						<input type="text" placeholder="Enter Address Here.." class="form-control"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">City</label>
					<div class="col-sm-8">
						<input type="text" placeholder="Enter City Name Here.." class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Zip</label>
					<div class="col-sm-8">
						<input type="text" placeholder="Enter Zip Code Here.." class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Country</label>
					<div class="col-sm-8">
						<select class="form-control">
							<option>Select a country</option>
							<option *ngFor="let country of countries" [value]="country.code">{{ country.value }}</option>
						</select>
					</div>
				</div>


				<!-- <button type="button" class="btn btn-lg btn-info">Submit</button> -->
				<div class="row" style="margin-bottom: 80px">
					<div class="col-xs-12">
						<a class="btn btn-lg btn-info" href="#" routerLink="/payment">Continue</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
